.header {
	position: absolute;  //fixed
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;


	&__row {
		position: relative;
		
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;

	}
	&__logo {
		font-size: 17px;
  		font-family: "Montserrat";
  		color: rgb(0, 0, 0);
  		font-weight: bold;
  		text-transform: uppercase;
		border: 5px solid #000;
		padding: 7px 6px;
		z-index: 3;
		
		b{
			color: #77EFE5;
			font-size: 20px;
		}
	}

	&__burger {
		display: none;

	}
	&__menu {}

		&__list {
		display: flex;
		position: relative;
		z-index: 2;
	}
		&__list li{
		margin: 0px 0px 0px 20px;
	}
		&__link {
		color: #5A5A5B;
		text-transform: uppercase;
		font-size: 18px;
		font-family: Montserrat;
		font-weight: 700;
		letter-spacing: 2px;
	}



	&__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		margin: 0px 15px 0px 0px;
	}
	&__burger span{
		position: absolute;
		background-color: #5A5A5B;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	&__burger:before,
	&__burger:after{
		content:'';
		background-color: #5A5A5B;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	&__burger:before{
		top: 0;
	}
	&__burger:after{
		bottom: 0;
	}
	&__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	&__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	&__burger.active span{
		transform: scale(0);
	}


	&__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #EFF0F2;
		padding: 100px 10px 20px 10px;

	}
	&__menu.active{
		top: 0;
	}
	&__list {
		display: block;
		text-align: center;
	}
	&__list li{
		margin: 0px 0px 50px 0px;
	}
	&__link {
		font-size: 24px;
	}
	

@media (max-width: 767px){
	
	&__row {
		height: 50px;

	}
	&__logo {
		font-size: 14px;
  		font-family: "Montserrat";
  		color: rgb(0, 0, 0);
  		font-weight: bold;
  		text-transform: uppercase;
		border: 4px solid #000;
		padding: 5px 4px;
		b{
			
			font-size: 16px;
		}
		
		
	}
	&__burger {
		margin: 0px 15px 0px 0px;
	}
	&__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #EFF0F2;
		padding: 100px 10px 20px 10px;

	}
	&__menu.active{
		top: 0;
	}
	&__list {
		display: block;
	}
	&__list li{
		margin: 0px 0px 20px 0px;
	}
	&__link {
		font-size: 24px;
	}
	
	
}



}
.header:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #EFF0F2;
	z-index: 2;
}






