@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;500&display=swap');




//ПЕРЕМЕННЫЕ

$fontfamily:"Lato";
$maxWidth: 1180;



//ПЕРЕМЕННЫЕ

//MIXINS

@mixin adaptiv-font($pcSize,$mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px)  #{$maxWidth}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}

//MIXINS





//Обнуление стилей
@import "nullstyle.scss";





//ОБОЛОЧКА

.wrapper{
	
}

//ОБОЛОЧКА




//ОСНОВНАЯ СЕТКА

.container{
	max-width: 1180px;
	margin: 0 auto;
	padding: 0px 10px;

}

//ОСНОВНАЯ СЕТКА





//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ

@import "ui.scss";
@import "header.scss";
@import "footer.scss";


//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ






//ОСНОВНОЙ БЛОК

//ОБЩИЕ СТИЛИ

body.lock{
		overflow: hidden;
		
	}

.title {
	  	font-size: 38px;
  		font-family: "Montserrat";
		color: rgba(0, 0, 0, 0.902);
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		line-height: 0.737;
		margin: 0px 0px 10px 0px;
}
.subtitle {
	  font-size: 18px;
	  font-family: "Merriweather";
	  color: rgba(0, 0, 0, 0.62);
	  text-transform: uppercase;
	  line-height: 1.556;
	  text-align: center;
	  margin: 0px 0px 30px 0px;
}
.suptitle {
	
	font-size: 20px;
  	font-family: "Merriweather";
  	color: rgba(0, 0, 0, 0.749);
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 1.4;
  	

}
//ОБЩИЕ СТИЛИ



//fullscrean


.content {
		min-height: 100vh;
		background-color: #EFF0F2;
		padding: 230px 0px 0px 0px;
		text-align: center;


	&__line-first {
		font-size: 45px;
		font-size: calc(24px + 21 * ((100vw - 320px) / (1280 - 320)));
	
		text-transform: uppercase;
		font-family: Montserrat;
		font-weight: 700;
		color: #505050;
		text-shadow: 4.5px 7.7px 10px rgba(0, 0, 0,0.4);
	
		span{
			background-color: #B1F0EC;
			padding: 0px 10px;
		}
		
	}
	&__line-second {

		font-size: calc(24px + 21 * ((100vw - 320px) / (1280 - 320)));
		
		text-transform: uppercase;
		font-family: Montserrat;
		font-weight: 700;
		color: #505050;
		margin: 15px 0px 100px 0px;
		text-shadow: 4.5px 7.7px 10px rgba(0, 0, 0,0.4);
		span{
			background-color: #B1F0EC;
			padding: 0px 12px;
		}
	}

			
	.button {
		font-family: Montserrat;
		font-weight: bold;
		position: relative;
		display: inline-block;

	&__text {
		position: relative;
		height: 80px;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 50px;
		border-radius: 50px;
		font-size: calc(15px + 9 * ((100vw - 320px) / (1280 - 320)));
		text-transform: uppercase;
		color: rgba(0,0,0,0.3);
		letter-spacing: 10px;
		transition: 1s;
		top: 0;
		overflow: hidden;

		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 51%;
			height: 100%;
			background-color: #ddd;
			transition: 0.8s;
	
		}
		&:before{
			left: 0;
			z-index: 2;
		}
		&:after{
			right: 0;
			
		}
		& span{
			position: relative;
			z-index: 2;
		}

	}
	
		&:before,
		&:after{
			content:'';
			position: absolute;
			width: 100px;
			height: 100px;
			border: 2px solid red;
			top: -10px;
			left: 50%;
			z-index: 1;
			transition: 0.8s;
			margin: 0px 0px 0px -40px;	
		}
		&:before{
			animation: rotate 20s infinite linear;
		}
		&:after{
			animation: rotate 25s infinite linear;
		}
		&:hover:before,
		&:hover:after{
			left: 100%;
			opacity: 0;
		}
		&:hover .button__text{
			top: -10px;
			color: #fff;
			transition: all 0.5s ease 0.2s;
			box-shadow: 0 5px 0px 0 #67D4DD;
		}
		&:hover .button__text:before{
			width: 100%;
		}
		&:hover .button__text:before,
		&:hover .button__text:after{
			background-color: #B1F0EC;
		}
		&:active .button__text{
			top: -7px;
			transition: all 0.1s ease 0s;
			box-shadow: 0.2px 0px 0 #67D4DD;
		}

		
		//@-moz-keyframes name {0% {/* style */}50% 100% {/* style */}}
		
		
		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
		
			100% {
				transform: rotate(360deg);
			}
		}
		
}				

	
&__img {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	position: relative;
	right: 50px;
	bottom: 50px;
}

.cork {
	z-index: 0;
}
.glass {
	transform: translate( 5px , -75px);
	transition: 1s;
	z-index: 1;

	&:active{
		opacity: 0;
		transform:  translate( 500px , -300px) rotate(720deg);
	}
}



	&__body {
		
	}
	
}





//about


.about {
	//min-height: 100vh;
	background-color: #F8FAFA;
	&__body {
		padding: 120px 0px;
	}

	&__row {
		display: flex;
		justify-content: space-around;
		padding: 45px 0px;
		
	}
	
	&__text {
		max-width: 470px;
		

	}
	&__suptitle {
		margin: 0px 0px 15px 0px;
	}
	&__text1 {
		font-size: 16px;
  		font-family: "Raleway";
  		color: rgba(0, 0, 0, 0.741);
  		line-height: 1.75;
  		margin: 0px 0px 15px 0px;

	}
	&__text2 {
		font-size: 16px;
  		font-family: "Raleway";
  		color: rgba(0, 0, 0, 0.741);
  		line-height: 1.75;
  		margin: 0px 0px 15px 0px;
	}
	&__text3 {
		font-size: 16px;
  		font-family: "Raleway";
  		color: rgba(0, 0, 0, 0.741);
  		line-height: 1.75;

	}
}
.sliderbig {
	min-width: 0;
	padding: 0;
	
	max-width: 400px;
	&__item{
		text-align: center;
	}
	&__item.slick-center{
		
	}
	& .slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
	} 
	& .slick-dots li{
		list-style: none;
		margin: 10px 2px;
	} 
	/* Активная точка */ 
	& .slick-dots li.slick-active{} 
	& .slick-dots li.slick-active button{
		background-color: transparent;
		border: 1px solid  #6FF6EB;
	}
	/* Элемент точки */ 
	& .slick-dots li button{
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color:  #6FF6EB;
		border-radius: 35%;
	} 
}


//featured

.featured {

	&__body {
		padding: 120px 0px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__line-left {
		display: flex;
		flex-direction: column;
		
	}
	&__line-medium {
		display: flex;
		flex-direction: column;
		
	}
	&__line-right {
		display: flex;
		flex-direction: column;

	}
	&__line-object {
		padding: 5px;

	}
}

//services

.services {
	min-height: 100vh;
	&__body {
		padding: 100px 0px;
	}

}

.tabs {
	margin: 0px 0px 50px 0px;
	max-height: 300px;
	height: 100%;
	background-color: #EFF0F2;
	&__items {
		display: flex;
	}
	&__item {
		flex: 0 1 33.333%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color:  rgba(0, 0, 0, 0.741);
		font-family: Raleway;
		font-weight: bold;
		span{
			position: relative;
			z-index: 2;
		}
	}
	&__body {}
	&__block {
		position: relative;
		padding: 20px;
		font-size: 18px;
		line-height: 24px;

		display: none;
	}
	&__block:before{
		content:'';
		height: 50px;
		width: 33.333%;
		position: absolute;
		top:-50px;
	}
	&__block:nth-child(1){
		background-color: #B0EFEB;
	}
	&__block:nth-child(1):before{
		background-color: #B0EFEB;
		left: 0;
	}
	&__block:nth-child(2){
		background-color: #B0EFEB;
	}
	&__block:nth-child(2):before{
		background-color: #B0EFEB;
		left: 33.333%;
	}
	&__block:nth-child(3){
		background-color: #B0EFEB;
	}
	&__block:nth-child(3):before{
		background-color: #B0EFEB;
		right: 0;
	}
	&__block:target{
		display: block;
	}
}
.text {
		font-size: 16px;
  		font-family: "Raleway";
  		color: rgba(0, 0, 0, 0.741);
  		line-height: 1.75;
}



//services

//TEAM

.team {
	min-height: 100vh;
	&__body {}
	&__title {}
	&__subtitle {}
	&__row {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}
	&__column {
		flex-wrap: wrap;
		

	}
	&__item {
		flex: 0 1 33.333%;
		padding: 5px 0px;
		z-index: 0;
		position: relative;
		
		img:hover{
			box-shadow: 0 0 3px  #6FF6EB;

			
		}

	}
	
}



.info {


	
	&__row {
		display: block;
		max-width: 300px;
		width: 100%;
		max-height: 200px;
		background-color: #6FF6EB;
		padding: 20px 30px;
		z-index: 3;
		position: relative;

		left: 0;
		bottom: 0;
		margin: -150px 0px 0px 35px;
		transform: translate(0px , 50px);
		opacity: 0.8;
		transition: 0.5s;
		display: flex;
		flex-direction: column;
		border-radius: 10%;

	}
	&__row:hover{
			opacity: 1;
			transform: translate(0px , 0px);
		}
	
	&__title {
		display: flex;
		margin: 0px 0px 10px 0px;
	}
	&__name {
			  font-size: 20px;
			  text-transform: uppercase;
			  font-family: "Merriweather";
			  color: rgba(39, 39, 39, 0.949);
			  font-weight: bold;
			  
	}
	&__profession {
			  font-size: 16px;
			  font-family: "Merriweather";
			  font-style: italic;
			  color: #748A87;
			  font-weight: bold;
			  line-height: 1.2;
	}
	&__text {
		  font-size: 16px;
		  font-family: "Raleway";
		  color: rgba(0, 0, 0, 0.8);
		  line-height: 1.5;
		  text-align: left;
		  max-width: 280px;
		  margin: 0px 0px 20px 0px;


	}

}








//TEAM




//SAYS



.says {
	margin-top: 100px;
	min-height: 100vh;
	background-color: #F9FBFB;
	//background-color: #000;
	padding: 100px 0px;
	&__body {}
	&__title {}
	&__subtitle {

	}
}

 /* Слайдер */ 
 .slick-slider{} 
 /* Слайдер запущен */ 
 .slick-slider.slick-initialized{} 
 /* Слайдер с точками */ 
 .slick-slider.slick-dotted{}	
/* Ограничивающая оболочка */ 
.slick-list {
	overflow: hidden;
} 
/* Лента слайдов */ 
.slick-track{
	display: flex;
	align-items: flex-start;
}


/* Слайд */ 
.slick-slide{} 
/* Слайд активный (показывается) */ 
.slick-slide.slick-active{} 
/* Слайд основной */ 
.slick-slide.slick-current{} 
/* Слайд по центру */ 
.slick-slide.slick-center{} 
/* Клонированный слайд */ 
.slick-slide.slick-cloned{}

/* Стрелка */ 
.slick-arrow{} 
/* Стрелка влево */ 
.slick-arrow.slick-prev{} 
/* Стрелка вправо */ 
.slick-arrow.slick-next{} 
/* Стрелка не активная */ 
.slick-arrow.slick-disabled{}

/* Точки (булиты) */ 
.slick-dots{} 
.slick-dots li{} 
/* Активная точка */ 
.slick-dots li.slick-active{} 
/* Элемент точки */ 
.slick-dots li button{} 

//Конкретный слайдер
.slider-gray {
	max-width: 1000px;
	width: 100%;
	height: 400px;
	background-color: #EAEBED; 
	padding: 0px 60px;
	margin: 0 auto;
	transform: translate(0px , 60px);
}

.slider {
	position: relative;
	
	text-align: center;
	transform: translate(0px , -50px);
	
	& .slick-arrow{
		position: absolute;
		top: 50%;
		margin: -30px 0px 0px 0px;
		z-index: 10;
		font-size: 0;
		width: 50px;
		height: 55px;
	}
	& .slick-arrow.slick-prev{
		left: 0px;
		height: 50px;
		border: 3px solid #6FF6EB;

		border-width: 0 10px  10px 0;
		background-color: #fff;
		transform: rotate(135deg);
		opacity: 0.7;
	}
	& .slick-arrow.slick-next{
		right: 0;
		height: 50px;
		border: 3px solid #6FF6EB;
		
		border-width: 0 10px  10px 0;
		background-color: #fff;
		transform: rotate(-45deg);
		opacity: 0.7;
	}
		& .slick-arrow.slick-disabled{
			opacity: 0.2;
		}

	& .slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 0px;
	} 
	& .slick-dots li{
		list-style: none;
		margin: 0px 10px;
	} 
	/* Активная точка */ 
	& .slick-dots li.slick-active{} 
	& .slick-dots li.slick-active button{
		background-color: transparent;
		border: 1px solid  #6FF6EB;
	}
	/* Элемент точки */ 
	& .slick-dots li button{
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color:  #6FF6EB;
		border-radius: 50%;
	} 



	&__item {

	}
	&__item.slick-center{
		
	}
}




//SAYS






//THEY

.they {
	min-height: 100vh;
	padding: 100px 0px;
	background-color: #F9FBFB;
	&__body {

	}
	&__title {}
	&__subtitle {
		margin-bottom: 100px;
	}
	&__row {
		display: flex;
		
		
	}
}


//SLIDERAUTHOR



.sliderauthor-gray {
	max-width: 500px;
	width: 100%;
	height: 366px;
	background-color: #EAEBED;
	//margin: 0px 10px 0px 0px;
	
}






.sliderauthor {

	min-width: 0;
	max-width: 500px;
	width: 100%;
	//box-shadow: 0 0 10px #000;
	text-align: center;
	transform: translate(0px,-40px );
	
	

	& .slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	} 
	& .slick-dots li{
		list-style: none;
		margin: 0px 3px;
	} 
	/* Активная точка */ 
	& .slick-dots li.slick-active{} 
	& .slick-dots li.slick-active button{
		background-color: transparent;
		border: 1px solid  #6FF6EB;
	}
	/* Элемент точки */ 
	& .slick-dots li button{
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color:  #6FF6EB;
		border-radius: 30%;
	} 
	&__item {
		


	}
	&__item.slick-center{
		
	}
}


//SLIDERSAY



.slidersay {
	
	display: block;
	position: relative;
	padding: 0px 60px;
	text-align: center;
	min-width: 0;
	max-width: 700px;
	width: 100%;
	//box-shadow: 0 0 10px #000;
	transform: translate( 10px , -15px);
	

	& .slick-arrow{
		display: block;
		position: absolute;
		bottom: 0px;


		margin: 0 auto;
		z-index: 10;
		font-size: 0;
		width: 15px;
		//height: 55px;
	}
	& .slick-arrow.slick-prev{
		display: block;
		position: relative;
		//left: 430px;
		top: 414px;
		height: 15px;
		border: 3px solid #6FF6EB;

		border-width: 0 5px  5px 0;
		background-color: #fff;
		transform: rotate(135deg);
		opacity: 0.7;
	}
	& .slick-arrow.slick-prev:before{
		content:'';
		display: block;
		width: 50px;
		height: 50px;
		box-shadow: 0px 0px 5px #333;
		transform: rotate(45deg);
		position: relative;
		top: -13px;
		right: 15px;
		border-radius: 10%;
		

	}
	& .slick-arrow.slick-next{
		display: block;
		position: relative;
		right: -50px;
		top: 33px;
		height: 15px;
		border: 3px solid #6FF6EB;
		//#6FF6EB//#B2B2B2
		border-width: 0 5px  5px 0;
		background-color: #fff;
		transform: rotate(-45deg);
		opacity: 0.7;
	}
	& .slick-arrow.slick-next:before{
		content:'';
		display: block;
		width: 50px;
		height: 50px;
		box-shadow: 0px 0px 5px #333;
		transform: rotate(45deg);
		position: relative;
		top: -17px;
		right: 15px;
		border-radius: 10%;

		

	}
		& .slick-arrow.slick-disabled{
			

		}

	& .slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
	} 
	& .slick-dots li{
		list-style: none;
		margin: 0px 10px;
	} 
	/* Активная точка */ 
	& .slick-dots li.slick-active{} 
	& .slick-dots li.slick-active button{
		background-color: transparent;
		border: 1px solid  #6FF6EB;
	}
	/* Элемент точки */ 
	& .slick-dots li button{
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color:  #6FF6EB;
		border-radius: 50%;
	} 

	&__item {

	}
}
.item {
	
	&__body {
		background-color: #EAEBED;
		text-align: center;
		padding: 90px 30px;
		max-width: 600px;
		width: 100%;
	}
	&__name {
		display: inline-block;
		font-size: 20px;
	  	font-family: "Merriweather";
	  	color: rgba(0, 0, 0, 0.949);
	  	font-weight: bold;
	  	line-height: 1.4;
	  	margin: 0px 0px 15px 0px;
	  	text-transform: uppercase;
	}
	&__profession {
		display: inline-block;
		font-size: 16px;
	  	font-family: "Merriweather";
	  	color: rgba(0, 0, 0, 0.6);
	  	font-weight: bold;
	  	line-height: 1.4;
	  	margin: 0px 0px 15px 0px;
	  	font-style: italic;

	}
	&__text {
		  display: inline-block;
		  font-size: 16px;
		  font-family: "Raleway";
		  color: rgba(0, 0, 0, 0.702);
		  line-height: 1.688;
		  max-width: 460px;
		  width: 100%;
		  margin: 0px 0px 15px 0px;

	}
}


.rating {
	position: relative;
	font-size: 20px;
	display: inline-block;
	&:before{
		content:"★★★★★";
		display: block;
	}
	&__items {
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
	}
	&__item {
		position: absolute;
		width: 0%;
		height: 0%;
		top:0;
		left:0;
		
		visibility: hidden;
	}
	&__item:checked,
	&__item:checked ~ &__label{
		color: #ffd300;
	}
	&__label {
		flex: 0 0 20%;
		height: 100%;
		cursor: pointer;

	}
	&__label:before{
		content:"★";
		display: block;
		transition: color 0.3s ease 0s;

	}
	&__label:hover,
	&__label:hover ~ &__label,
	&__label:checked ~ &__label:hover{
		color: #ffef9f;
	}
}





//THEY



//LINE//



.line {
	height: 300px;
	
	background-color: #fff;
	transform: translate(0px , 100px);

	&__body {}
	&__row {
		
	}
	&__line {
		padding: 80px 0px;
	}
}





//LINE//



//CONTACTS//


	










//CONTACTS//



//ADAPTIVE



//1158//



@media (max-width:1158px) {
	
	.featured {

	&__body {
		
	}
	
	&__row {
		
	}
	&__line-left {
		margin: 0 auto;
		
	}
	&__line-medium {
		margin: 0 auto;
		
	}
	&__line-right {
		margin: 0 auto;

	}
	&__line-object {
		
		

			
		
	}
 }


.team {
	
	&__row {
		
	}
	&__column {
		

		

	}
	&__column:last-child{
		
		

		

	}
	&__item {
		
	}

	
}
 
}

//1100//


@media (max-width:1100px) {
	.they {
		
		&__row {
			flex-direction: column;
			align-items: center;

			
			
		}
	}

	.sliderauthor-gray {
		margin-bottom: 100px;
	}
	
	.slidersay {
		& .slick-arrow{
		
	
		}
	}

}




//1024//


@media (max-width: 1024px){
	.about {
		&__body {}
		&__title {}
		&__subtitle {}
		&__row {
			flex-wrap: wrap;

		}
		
		&__text {
			padding: 0px 30px;
			}
		&__suptitle {}
		&__text1 {}
		&__text2 {}
		&__text3 {}
	}

	
}
//959//


@media (max-width: 959px) {
	.about {
		&__text {
			margin: 35px 0px 0px 0px;
			text-align: center;
		}
	}
	.slidersay {
		margin: 0 auto;

	& .slick-arrow{
		margin: 0 auto;
	}

 }
 .footer{
 	&__row{
 		flex-direction: column;

 	}
 	&__form{

 	}
 	&__map{
 		max-width: 600px;
 		img{
 			display: block;
 			margin: 0 auto; 		
 		}
 	}
 }
}

//767//


@media (max-width: 767px){
	body.lock{
		overflow: hidden;
	}
	.content{
		padding: 200px 0px 0px 0px;
		&__img {
			display: none;
		}
	}
	
	&__btn {
		margin: 90px 0px 0px 0px;
		}

	.slidersay {
		

	& .slick-arrow{
		
	}

 }
}

//598//


@media (max-width: 598px) {
 .footer{
 	&__row{
 		

 	}
 	&__form{

 	}
 	&__map{
 		
 		img{
 			border-radius: 50%; 
 			width: 200px;
 			height: 200px;	
 			padding: 5px;
 			border: 6px solid #fff;	
 			opacity: 0.6;
 			transition:  0.3s;
 		}
 		img:hover{
 			opacity: 1;
 			border: 1px solid #ddd;	
 			border-radius: 25%;
 		}
 	}
 }
}






//540//


@media (max-width: 540px) {
	.content{
		padding: 200px 0px 0px 0px;
		&__line-first {
		line-height: 1.2;

		}
		&__line-second {
			line-height: 1.2;
		}
	}


	.featured {


	&__line-object {
		
		img{
			max-width: 280px;

			
		}
	}
 }
 .tabs {

	&__item {
		
		span{
			display: block;
			width: 100px;
			padding: 0px 5px;
			white-space: nowrap;
			text-align: center;
			overflow: hidden;
			font-size: 14px;
			text-overflow: ellipsis;
		}
	}
	
	}
	.wave-btn{
		width: 200px;
		&__wave:after,
		&__wave:before{
			content:'';
		
			top: 0;
			left: 35%;
			width: 250%;
			height: 250%;

			
		}
	}
	
}












//354//


@media (max-width: 354px) {
 .footer{
 	&__row{
 		

 	}
 	&__form{
 		
 	}
 	&__map{
 		
 		img{
 			width: 180px;
 			height: 180px;
 		}
 		
 }
}
.wave-btn{
		width: 180px;
	}
}



//320//


@media (max-width: 320px) {
		 .footer{
		 	&__row{
		 		

		 	}
		 	&__form{
		 		button{

		 		}
		 	}
		 	&__map{
		 		
		 		img{
		 			width: 175px;
 					height: 175px;
		 		}
		 		
		  	}
		}
}
//ADAPTIVE






//ОСНОВНОЙ БЛОК




